<div style="display:inline-block; width: 50%">
  <h3 style="text-decoration: underline; margin-bottom: 0px">{{chartTitle}}</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            id="search"
            mdbInput
          />
          <label for="search">Search</label>
        </div>
      </div>
    </div>
    <table id="tableSortExample" mdbTable class="z-depth-1">
      <thead>
      <tr>
        <th *ngFor="let el of headElements.slice(0, headElements.length - 1); let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="el">{{titleElements[i] | titlecase}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of elements; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{el.position}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.occ}}</td>
        <td *ngIf="el.avg && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.avg}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.query}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button (click)="openQueryDetails(el.id, el.query)" mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Details</button></td>
      </tr>

      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination [tableEl]="mdbTable" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
