*/target/
!.mvn/wrapper/maven-wrapper.jar

typecheck.txt
evolution-analytics/src/resources/QLRecommendation.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

evolution-analytics/node_modules/
evolution-analytics/dist/
evolution-analytics/.idea/
evolution-analytics/.env
evolution-analytics/evolution-analytics-model/
evolution-analytics-client/node_modules/
evolution-analytics-client/evolution-analytics-model/
evolution-analytics-client/dist/
evolution-analytics-client/.idea/
evolution-analytics-model/node_modules/
evolution-analytics-model/dist/
evolution-analytics-model/.idea/



plugin-evolution/evolution-feature/target/
plugin-evolution/evolution-update-site/target/


