.example-radio-group {
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.hidden {
  visibility: hidden;
}

.dateLabel label {
  margin-right: 20px;
}

.filterButton {
  margin-top: 5px;
  margin-left: 50px;
  line-height: 28px;
}

.disabledButton {
  background-color: lightgray;
  color: darkgray;
}



