
<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
  <li ngbNavItem="schema">
    <a ngbNavLink>
      Schema
    </a>
    <ng-template ngbNavContent>
      <div style="position: absolute; display:inline-block; width: 60%; min-height: 100%; border-right: 2px solid #dee2e6; vertical-align: top;">
        <app-time-radio-button [chartsId]="'0'" [navigationTab]="getNavigationComponent()" ></app-time-radio-button>
        <div [ngClass]="{'invisible': timeEvolutionMode}">
          <div style="text-align:center; margin-top: 50px;">
            <app-pie-chart [chartsId]="'0'" [type]="'SIZE'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Entity size'" [navigationTab]="getNavigationComponent()"></app-pie-chart>
            <app-pie-chart [chartsId]="'0'" [objectType]="CRUD_OBJECT" [chartTitle]="'CRUD operation distribution'" [navigationTab]="getNavigationComponent()"></app-pie-chart>
          </div>
          <div style="text-align:center; margin-top: 20px;">
            <app-pie-chart [chartsId]="'0'" [type]="'NB_OF_QUERIES'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Proportion of queried entities'" [navigationTab]="getNavigationComponent()"></app-pie-chart>
          </div>
        </div>

        <div [ngClass]="{'invisible': !timeEvolutionMode}">
          <div style="text-align:center; margin-top: 50px;">
            <app-line-chart [chartsId]="'0'" [type]="'SIZE'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Entity size over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
            <app-line-chart [chartsId]="'0'" [objectType]="CRUD_OBJECT" [chartTitle]="'CRUD operation distribution over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
          </div>
          <div style="text-align:center; margin-top: 20px;">
            <app-line-chart [chartsId]="'0'" [type]="'NB_OF_QUERIES'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Nb of queries over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
          </div>
        </div>

      </div>
      <div id="chartContainer" style="display:inline-block; width: 40%; margin-left: 60%; padding-left: 20px">
        <app-d3-charts [navigationTab]="getNavigationComponent()" [svgId]="'typhonSchema'" [screenPercentage]=40></app-d3-charts>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem="queries">
    <a ngbNavLink>
      Queries
    </a>
    <ng-template ngbNavContent>
      <app-time-radio-button [invisible]="true" [chartsId]="'1'" [navigationTab]="getNavigationComponent()" ></app-time-radio-button>
      <div style="text-align:center; margin-top: 20px;">
        <app-table-pagination class="" [secondColumnName]="'Occ.'" [chartsId]="'1'" [chartTitle]="'Most frequent query categories'" [type]="0" [navigationTab]="getNavigationComponent()"></app-table-pagination>
        <app-table-pagination [secondColumnName]="'Time(ms)'" [chartsId]="'1'" [chartTitle]="'Slowest queries'" [type]="1" [navigationTab]="getNavigationComponent()"></app-table-pagination>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem="evolution">
    <a ngbNavLink>
      Evolution
    </a>
    <ng-template ngbNavContent>
      <app-text-field></app-text-field>

    </ng-template>
  </li>

  <li *ngFor="let query of queryTabs" [ngbNavItem]="query.uuid">
    <a ngbNavLink>
      Query <i>{{ formatTabTitle(query.query) }}</i>
      <span class="close position-relative pl-2 font-weight-light" (click)="closeQueryTab($event, query.uuid)">×</span>
    </a>
    <ng-template ngbNavContent>
      <h2>Query: <i>{{ query.query }}</i></h2>
      <div style="position: absolute; display:inline-block; width: 60%; border-right: 2px solid #dee2e6; vertical-align: top;">
        <app-time-radio-button [invisible]="true" [chartsId]="query.uuid" [navigationTab]="getNavigationComponent()" ></app-time-radio-button>
        <div style="text-align:center; margin-top: 50px;">
          <app-line-chart [normalizedQueryUUID]="query.type === 0 ? query.uuid: null" [qlQueryUUID]="query.type === 1 ? query.uuid: null" [chartsId]="query.uuid" [objectType]="QUERY_OBJECT" [chartTitle]="'Execution time over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
        </div>
      </div>
      <div style="display:inline-block; width: 40%; margin-left: 60%; padding-left: 60px">
        <app-query-details [nav]="getNavigationComponent()" [normalizedQueryUUID]="query.type === 0 ? query.uuid: null" [qlQueryUUID]="query.type === 1 ? query.uuid: null"></app-query-details>
      </div>
    </ng-template>
  </li>

  <li *ngFor="let entityName of entityTabs" [ngbNavItem]="entityName">
    <a ngbNavLink>
      Entity <i>{{ formatTabTitle(entityName) }}</i>
      <span class="close position-relative pl-2 font-weight-light" (click)="closeEntityTab($event, entityName)">×</span>
    </a>
    <ng-template ngbNavContent>
      <h2>Entity: <i>{{ entityName }}</i></h2>
      <app-time-radio-button [invisible]="true" [chartsId]="entityName" [navigationTab]="getNavigationComponent()" ></app-time-radio-button>
      <div style="border-bottom: 2px solid #dee2e6; vertical-align: top;">
        <div style="text-align:center; margin-top: 50px;">
          <div style="display:inline-block; width: 50%">
            <app-line-chart [entityName]="entityName" [chartsId]="entityName" [type]="'SIZE'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Entity size over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
          </div>
          <div style="display:inline-block; width: 50%">
            <app-line-chart [entityName]="entityName" [chartsId]="entityName" [type]="'NB_OF_QUERIES'" [objectType]="ENTITY_OBJECT" [chartTitle]="'Nb of queries over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
          </div>
          </div>
        <div style="text-align:center; margin-top: 20px;">
          <div style="display:inline-block; width: 50%">
            <app-line-chart [entityName]="entityName" [chartsId]="entityName" [objectType]="CRUD_OBJECT" [chartTitle]="'CRUD operation over time'" [navigationTab]="getNavigationComponent()"></app-line-chart>
          </div>
        </div>
      </div>
      <div style="text-align:center; margin-top: 20px;">
        <app-table-pagination [entityName]="entityName" [secondColumnName]="'Occ.'" [chartsId]="entityName" [chartTitle]="'Most frequent query categories'" [type]="0" [navigationTab]="getNavigationComponent()"></app-table-pagination>
        <app-table-pagination [entityName]="entityName" [secondColumnName]="'Time(ms)'" [chartsId]="entityName" [chartTitle]="'Slowest queries'" [type]="1" [navigationTab]="getNavigationComponent()"></app-table-pagination>
      </div>
    </ng-template>
  </li>


</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

