<div class="queryDetails">
  <h2>Details</h2>
  <h3>Latest execution:</h3>
  {{latestExecutionDate}} ({{latestExecutionTime}} ms)

  <h3>Query type:</h3>
  {{queryType}}

  <h3>Concerned entities:</h3>
  {{concernedEntities}}

  <h3>Joins between entities:</h3>
  {{joinEntities}}

  <h3>Entities implicitly inserted</h3>
  {{implicitInsertedEntities}}

  <div class="evolutionButton">
    <button mdbBtn type="button" color="indigo" mdbWavesEffect>
      <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Show me how to improve
    </button>

  </div>
</div>
