.queryDetails h3 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight:500
}

.btn {
  margin: 0px!important;
}

div.evolutionButton {
  margin-top: 50px;
}

.queryDetails a {
  color: #007bff !important;
}

.queryDetails a:hover {
  color: indigo !important;
}

.recommendation input {
  margin-right: 10px;
}

.recommendationDiv {
  box-sizing: content-box;
  border: solid #3f51b5 3px;
  padding: 10px;
}

input:not(:checked) + div.recommendationDiv {
  opacity: 0.33;
  pointer-events: none;
}

input:not(:checked) + label + div.recommendationDiv {
  opacity: 0.33;
  pointer-events: none;
}
