<div class="queryDetails">
  <h2>Details</h2>
  <h3>Latest execution:</h3>
  {{latestExecutionDate}} ({{latestExecutionTime}} ms)

  <h3>Query type:</h3>
  {{queryType}}

  <h3>Concerned entities:</h3>
  <div>
    <div style="display:inline-block;" *ngFor="let entity of concernedEntities; let i = index">
      <label *ngIf="i > 0">,&nbsp;</label>
      <a  (click)="openEntityTab(entity);">{{entity}}</a>
    </div>
  </div>

  <h3>Joins between entities:</h3>
  <div>
    <label *ngIf="!joinEntities || joinEntities.length === 0">-</label>
    <div style="display:inline-block;" *ngFor="let entity of joinEntities; let i = index">
      <label *ngIf="i > 0">,&nbsp;</label>
      (
      <a  (click)="openEntityTab(entity.e1);">{{entity.e1}}</a>
      &#8853;
      <a  (click)="openEntityTab(entity.e2);">{{entity.e2}}</a>
      )
    </div>
  </div>

  <h3>Entities implicitly inserted</h3>
  <div>
    <label *ngIf="!implicitInsertedEntities || implicitInsertedEntities.length === 0">-</label>
    <div style="display:inline-block;" *ngFor="let entity of implicitInsertedEntities; let i = index">
      <label *ngIf="i > 0">,&nbsp;</label>
      <a  (click)="openEntityTab(entity);">{{entity}}</a>
    </div>
  </div>

  <div class="evolutionButton">
    <button (click)="openRecommendationsPanel(content);" mdbBtn type="button" color="indigo" mdbWavesEffect>
      <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Show me how to improve
    </button>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Query recommendations to improve execution time</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group recommendation">
        <h3><b>{{query}}</b></h3>

        <div [innerHtml]="recommendations"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
